*{box-sizing: border-box;
    font-family:  "Segoe UI Emoji", Helvetica, "Apple Color Emoji", Arial, sans-serif;
    box-sizing: border-box
    
}

a {
    color: #E7332B;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #eb5850;
}

body{
    background-color:#FFFAFA;
    width: 100%;
    height: 100%;
    color: #212529;
}

.wholesection {
    background-image: url("./img/hero-bg.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
}
.zurimage {
    margin: auto;
    display: flex;
    padding-top: 6%;
    margin-bottom: 6%;
}
.zurimage img {
    margin: auto;
}

.content{

    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
text-align: inherit;
line-height: 1.5; 
}

.content h2{
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    font-weight: 800;
    color: #514949;
    margin-bottom: 36px;
}
.content p{
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
   

}

.mybutton {
    margin-top: 92px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 0px 30%;
   
 }
 
    
  .button {font-size: 16px;
        padding: 11px 28px;
        border: 1px solid #E7332B;
    }
  
    .red {
        background-color: #E7332B;
        color: #fff;
        margin-right: 24px;
    }
     
    .red:hover {
        background-color: #fff;
        color: #E7332B;
    }
     
    .red-outline {
        background-color: #fff;
        color: #E7332B;
    }
    
    .red-outline:hover {
        background-color: #E7332B;
        color: #fff;
    }
    section.programs {
        background-color: #fff;
        overflow: hidden;
    }

    .fulltext .heading {
        font-size: 14px;
        line-height: 24px;
        color: #E7332B;
        margin-top: 141px;
    }
    
    .fulltext p.text {
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        color: #514949;
        margin-top: 8px;
        margin-bottom: 64px;
    
    }
    
    .teamhead {
        margin: 0 auto;
        margin-top: 250px;
        text-align: center;
      width: 100%;
      background-color: #FFFAFA;
        padding: 61px 47px 82px 36px;
        text-align: justify-all;
    }

   
.column {
    
    float: left;
    width: 33.3%;
    padding: 0 30px;
  }
  

  
  .card {
    line-height: 1.5;
    padding: 50px;
    background-color:  #fff; 
}
  
.footer {
    margin-top: 215px;
}

.footer-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 56px;
    padding: 20px;
}

.footer h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #514949;
}

.address p {
    font-size: 14px;
    line-height: 20px;
    color: #514949;
    opacity: 0.9;
}
 .footer {
        margin-top: 215px;
    }
   
    .myfooter {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 56px;
        padding: 20px;
    }

    .footer h3 {
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        color: #514949;
    }
    
    .address p {
        font-size: 14px;
        line-height: 20px;
        color: #514949;
        opacity: 0.9;
    }
   
    .mycontact img {
        width: 18px;
        margin-right: 5px;
    }
    
 
   footer hr {
        opacity: 0.2;
        border: 0.7px solid #514949;
    }
   

footer hr {
    opacity: 0.2;
    border: 0.7px solid #514949;
}

.copyright p {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 32px;
    color: #514949;
    padding-bottom: 97px;
    text-align: center;
}

    

    